{% extends "base.html" %}

{% block title %}Mark Attendance{% endblock %}

{% block content %}
<div class="container attendance-container">
    <h2 class="center-text">Mark Attendance for Shift ID: {{ shift_id }}</h2>
        <form id="attendance_form" method="POST" action="{{ url_for('staff_routes.submit_attendance') }}">
            <input type="hidden" id="image" name="image">
            <input type="hidden" id="shift_id" name="shift_id" value="{{ shift_id }}">
            <video id="video" width="400" height="400" autoplay></video>
            <canvas id="canvas" width="400" height="400" style="display: none;"></canvas>
            <button type="button" id="capture">Capture and Submit</button>
        </form>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    captureImage();
</script>
{% endblock %}